
p {color: orangered;
    text-decoration: underline;
    font-family: 'Arial';
    }
    h1 {
        color: #777abc;
        text-decoration:underline;
        font-family: 'Helvetica, sans-serif';
    }
    h2 {
        font-family:'Times';
        font-style: italic;
    }